
@import 'partials/jcmixvars.scss';

@import "partials/slider";
@import "partials/mute";
@import "partials/loader";
@import "partials/transport";
@import "partials/panner";

a, a:link, a:hover, a:visited{
	color: #7f7f7f;
}
#nosupport{
	font-family: 'Open Sans', sans-serif; 
	background: red;
	position: absolute;
	top:0;
	left:0;
	right:0;
	 -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
    color: #FFF;
    text-align: center;
    padding:30px;

    z-index: 10;

    a, a:link, a:hover, a:visited{
		color: #FFF;
	}
   
}

#jcmix{


	h1{
		font-weight: 100;
	}


	#info{
		display:none !important;
	}

	max-width: 766px;
	min-width: 260px;
	@media (max-width: 935px) {
		max-width: 637px;
    }
    @media (max-width: 790px) {
		max-width: 360px;
	}

	
	margin:0 auto;
	margin-top:2rem;
	height: 600px;
	#mixer{
		background: transparent !important; 
	}



	a, a:link, a:hover, a:visited{
		color: #FFF;
	}

	height: $height;


	* {
	    -webkit-touch-callout: none;
	    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
	}

	font-family: 'Open Sans', sans-serif;

	h1{
		color: #FFF;
		text-align: center;
	}

	#info {
		display: block;
		float: left;
		margin-top:10px;
		color: #7f7f7f;
		font-size: 10px;
		width: 100%;
		text-align: center;
	}


	.loader{
		width: 100%;
		height: 100%;
		//background: #16191c;
		position: relative;
		.loader-inner{
			position: absolute;
			left:50%;
			top:50%;
			margin-top: -50px;
		}
		p{
			color: #1d7a9c;
			text-align: center;
			width: 100%;
			font-size: 0.7em;
			position: relative;
			top:50%;
		}
	}

	#timer{
		font-family: 'Share Tech Mono', ;
		color: #fff;
		font-size: 2em;
		padding: 10px;
		overflow: auto;

		position: relative;
		display: block;
		clear:both;

		background: #000;
	

		text-align: center;
		span{
			display: inline-block;
			text-align: left;
			span{// keep number the same
				width: 32.6px;
			}

		} 
		.progress{
			width:150px;
		}
		.total{
			margin-left:5px;
			width:140px;
		}
	} 

	canvas.meter{
		display:block;
		float: left;
		margin-right: 50px; 
		margin-left:10px;
		@media (max-width: $mobilebreak) {
			margin-right: 30px; 
		}
		@media (max-width: $mobilebreak) {
			margin-right: 2px; 
		}

	}

	#transport{
		clear: both;
		display: block;
		text-align: center;
		width: 150px;
		position: relative;
		margin: -20px auto 0 auto;

		&.recording{
			width:215px;
		}
	}

	#mixer{
		background:#16191c;
		position: relative;
		overflow: auto;
		display: block;
		float: left;
		opacity:0;
		#channelstrip{
			position: relative;
			overflow: auto;
			display: block;
			float: left;
			width:100%;
			div[data-channel]{
				position: relative;
				float: left;
				display: block;
				background: $channelStripBackgrounColour;
				height: 100%;
				@media (min-width: $mobilebreak) {
					-webkit-box-shadow: inset 0px 0px 5px 0px rgba(26,27,28,0.75);
					-moz-box-shadow: inset 0px 0px 5px 0px rgba(26,27,28,0.75);
					box-shadow: inset 0px 0px 5px 0px rgba(26,27,28,0.75);
				}
				margin: 5px;
				padding: 5px;
				padding-top: 50px;
				@media (max-width: $mediumbreak) {
					background: $channelStripBackgrounColour_medium;
     				margin: 0px;
     				padding: 0px;
					padding-top: 50px;
			    }
				&:last-child { // master track 
				    background: #240505 !important; 
				    @media (max-width: $mobilebreak) {
					    margin-right: 0px;
					    float:right;
						background: $MasterChannelStripBackgrounColour_medium !important; 
					}

				    .track-label{
					    background: #000 !important;  
				    }
				}
				.slider{ 

					
					display:block; 
					float:left; 
					 -ms-transform: rotate(270deg); /* IE 9 */
					-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
					transform: rotate(270deg);
					position: absolute;
					top: $height/2 +21 * 1px;
					left: -150px;  
					@media (max-width: 935px) {
     				left: -160px;
					  } 
					@media (max-width: 790px) {
				      display:none;
				    }
				}
				.track-label{
					margin-top: 10px;
					overflow: auto;
					clear: both;
					float: left;
					background: #240505;
					width: 85px;
					color: #FFF;
					text-align: center;
					font-size: 10px;
					padding-top:5px;
					padding-bottom: 5px;
					@media (max-width: 790px) {
						label{
							display:none;
						}
						width: auto;
					}

				
				}
			}
		}
	}


	.mute-button{
		position: absolute;
		left:10px;

		top:5px;
		font-size: 10px;
		span{
			width: 18px;
			text-align: center;
		}
		@media (max-width: 790px) {
	      display:none;
	    }
	}
	

	.paddingholder{
		padding: 5px;
		display: block;
		clear:both;
		position: relative;
	}
	#timeline{
		background: #292c30; 
		height: 30px;
		width: 100%;
		position: relative;
		display: block;
		clear:both;
		#progress{
			width: 2px;
			height: 100%;
			background: #b6c8e1;
			position: absolute;
			left:0;
		}
	} 
	

}

