$height : 400; // probably best not to change this
$mediumbreak : 935px;
$mobilebreak : 790px;
$channelStripBackgrounColour : rgba(41,44,48,0.2);
$channelStripBackgrounColour_medium : none;
$MasterChannelStripBackgrounColour : #240505;
$MasterChannelStripBackgrounColour_medium : none;