/**
 *
 * All animations must live in their own file
 * in the animations directory and be included
 * here.
 *
 */
/**
 * Styles shared by multiple animations
 */
/**
 * Dots
 */

#jcmix{

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1); }

    50% {
      -webkit-transform: rotate(180deg) scale(0.6);
              transform: rotate(180deg) scale(0.6); }

    100% {
      -webkit-transform: rotate(360deg) scale(1);
              transform: rotate(360deg) scale(1); } }

  .ball-clip-rotate-multiple {
    position: relative; }
    .ball-clip-rotate-multiple > div {
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      position: absolute;
      left: -20px;
      top: -20px;
      border: 2px solid #1d7a9c;
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-radius: 100%;
      height: 35px;
      width: 35px;
      -webkit-animation: rotate 1s 0s ease-in-out infinite;
              animation: rotate 1s 0s ease-in-out infinite; }
      .ball-clip-rotate-multiple > div:last-child {
        display: inline-block;
        top: -10px;
        left: -10px;
        width: 15px;
        height: 15px;
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
        border-color: #00a7cc transparent #00a7cc transparent;
        -webkit-animation-direction: reverse;
                animation-direction: reverse; }

  @-webkit-keyframes ball-scale-ripple {
    0% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
      opacity: 1; }

    70% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.7; }

    100% {
      opacity: 0.0; } }

  @keyframes ball-scale-ripple {
    0% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
      opacity: 1; }

    70% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.7; }

    100% {
      opacity: 0.0; } }

}
