#jcmix{

    .mute-button label input{
      display:none;

    }
    .mute-button {
        margin:4px;
        background-color:#666B73;
        border-radius:4px;
        border:1px solid #000;
        overflow:auto;
        float:left;
    }

    .mute-button label {
        float:left; 
    }

    .mute-button label span {
        text-align:center;
        padding:3px;
        display:block;
        border-radius:4px;
    }

    .mute-button label input {
        position:absolute;
        top:-20px;
    }

    .mute-button input:hover + span {
        background-color:#efE0E0;
    }

    .mute-button input:checked + span {
        background-color:#911;
        color:#fff;
    }

    .mute-button input:checked:hover + span {
        background-color:#c11;
        color:#fff;
    }

}