#jcmix{
  input[type='range'] {
    align-self: center;
    margin: -0.75em 0;
    border: solid 1.5em transparent;
    padding: 0;
    width: $height * 1px; // actually height
    //height: 1em;
    height: 0em;
    background: repeating-linear-gradient(90deg, #3b3e41, #3b3e41 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 0.4375em border-box, repeating-linear-gradient(90deg, #3b3e41, #3b3e41 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 2em border-box;
   // background: repeating-linear-gradient(90deg, #c5b9b9, #c5b9b9 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 0.4375em border-box, repeating-linear-gradient(90deg, #c5b9b9, #c5b9b9 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 4.1875em border-box, linear-gradient(90deg, rgba(195, 183, 183, 0), #c3b7b7, rgba(195, 183, 183, 0)) no-repeat 50% 50% border-box;
    background-size: 390px 0.625em, 390px 0.625em, 100% 2.25em;

    @media (max-width: $mediumbreak) {
      background: repeating-linear-gradient(90deg, #3b3e41, #3b3e41 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 1.8em border-box, repeating-linear-gradient(90deg, #3b3e41, #3b3e41 0.0625em, transparent 0.0625em, transparent 2em) no-repeat 50% 1em border-box;
      background-size: 390px 0.225em, 390px 0.225em, 100% 2.25em;
    }
    font-size: 1em;
    cursor: pointer;
  }
  input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    position: relative;
    width: 13em;
    height: 0.1em; // width of track
    border-radius: .1875em;
   // background: rgba(201, 191, 191, 0.825);
   background: #15181b;
  }
  input[type='range']::-moz-range-track {
    width: 390px;
    height: 0.1em; // width of track
    border-radius: .1875em;
   background: #15181b;
  }
  input[type='range']::-ms-track {
    border: none;
    width: 13em;
    height: 0.1em; // width of track
    border-radius: .1875em;
    color: transparent;
       background: #15181b;

  }
  input[type='range']::-ms-fill-lower {
    display: none;
  }
  input[type='range']::-webkit-slider-thumb {
    font-size: 0.7em;
    margin-top: -0.90em;
    border: none;
    width: 4em;
    height: 2em;
    border-radius: .5em;
    box-shadow: -.125em 0 .25em #928886,  inset -1px 0 1px #fff;
    background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, rgba(0, 0, 0, 0) 71%) no-repeat 2.5em 50%, linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%, radial-gradient(at 0 50%, #d0c6c5, #c6baba 71%, rgba(0, 0, 0, 0) 71%) no-repeat 0.75em 50%, linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%, linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
    background-size: 0.825em 100%;
  }
  input[type='range']::-moz-range-thumb {
    font-size: 0.7em;

    border: none;
    width: 4em;
    height: 2em;
    border-radius: .5em;
    box-shadow: -.125em 0 .25em #928886,  inset -1px 0 1px #fff;
    background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, rgba(0, 0, 0, 0) 71%) no-repeat 2.5em 50%, linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%, radial-gradient(at 0 50%, #d0c6c5, #c6baba 71%, rgba(0, 0, 0, 0) 71%) no-repeat 0.75em 50%, linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%, linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
    background-size: 0.825em 100%;
  }
  input[type='range']::-ms-thumb {
    font-size: 0.7em;

    border: none;
    width: 4em;
    height: 2em;
    border-radius: .5em;
    box-shadow: -.125em 0 .25em #928886,  inset -1px 0 1px #fff;
    background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, rgba(0, 0, 0, 0) 71%) no-repeat 2.5em 50%, linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%, radial-gradient(at 0 50%, #d0c6c5, #c6baba 71%, rgba(0, 0, 0, 0) 71%) no-repeat 0.75em 50%, linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%, linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
    background-size: 0.825em 100%;
  }
  input[type='range']::-webkit-slider-runnable-track:before, input[type='range']::-webkit-slider-runnable-track:after, input[type='range'] /deep/ #track:before, input[type='range'] /deep/ #track:after {
    position: absolute;
    font: 0.75em/8em trebuchet ms, arial, sans-serif;
  }
  input[type='range']::-webkit-slider-runnable-track:before, input[type='range'] /deep/ #track:before {
    top: 50%;
    right: 100%;
    transform: translate(50%, -50%) rotate(90deg) translate(0, 32%);
  }
  input[type='range']::-webkit-slider-runnable-track:after, input[type='range'] /deep/ #track:after {
    left: 50%;
    width: 3em;
    word-spacing: 1em;
  }
  input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track:after, input[type='range']:nth-of-type(1) /deep/ #track:after {
    bottom: 100%;
    transform: translate(-50%, 50%) rotate(90deg) translate(-4.375em);
    text-align: right;
  }
  /*
  input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(1) /deep/ #track:before {
    content: "320Hz";
  }

  input[type='range']:nth-of-type(2)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(2) /deep/ #track:before {
    content: "600Hz";
  }
  input[type='range']:nth-of-type(3)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(3) /deep/ #track:before {
    content: "1KHz";
  }
  input[type='range']:nth-of-type(4)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(4) /deep/ #track:before {
    content: "3KHz";
  }
  input[type='range']:nth-of-type(5)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(5) /deep/ #track:before {
    content: "6KHz";
  }
  input[type='range']:nth-of-type(6)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(6) /deep/ #track:before {
    content: "12KHz";
  }*/
  input[type='range']:nth-of-type(6)::-webkit-slider-runnable-track:after, input[type='range']:nth-of-type(6) /deep/ #track:after {
    top: 100%;
    transform: translate(-50%, -50%) rotate(90deg) translate(4.375em);
  }
  /*
  input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track:after, input[type='range']:nth-of-type(1) /deep/ #track:after, input[type='range']:nth-of-type(6)::-webkit-slider-runnable-track:after, input[type='range']:nth-of-type(6) /deep/ #track:after {
    content: '+18 0 -18';
  }*/
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    background: #15181b;
  }
  input[type='range']:focus::-moz-range-track {
    background: #15181b;
  }
  input[type='range']:focus::-ms-track {
    background: #15181b;
  }
}