
$background:#16191c;
$foreground:#d5d5d5;

$foreground-light:#16191c;
$size:20px;
$startsize:18px;
$recordsize:48px;
$ratio:1.2;

$transition-time:0.1s;
#jcmix{

  #transport{
    overflow: auto;
  }

  #play {

    display:block;
    width: 0; 
    float: left;
    height: 0; 
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: ($size*$ratio) solid $foreground;
    margin: ($size * 2) auto 30px auto;
    position:relative;
    z-index:1;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    left:100px;
    
    &:before {
      content:'';
      position:absolute;
      top:($size*-1.5);
      left:($size*-2.3);
      bottom:($size*-1.5);
      right:($size*-0.7);
      border-radius:50%;
      border: 2px solid $foreground;
      z-index:2;
      transition: all $transition-time;
      -webkit-transition: all $transition-time;
      -moz-transition: all $transition-time;
    }
    &:after {
      content:'';
      opacity:0;
      transition: opacity ($transition-time * 2);
      -webkit-transition: opacity ($transition-time * 2);
      -moz-transition: opacity ($transition-time * 2);
    }
    
    &:hover, &:focus {
      &:before {
         transform: scale(1.1);
         -webkit-transform: scale(1.1);
         -moz-transform: scale(1.1);
      }
    }
    
    &.active {
      border-color:transparent;
      &:after {
        content:'';
        opacity:1;
        width:($size); 
        height:($size*1.6);
        background:$foreground;
        position:absolute;
        right: ($size*0.1);
        top: ($size*-0.8);
        border-left:($size*0.4) solid $foreground;
        box-shadow:inset ($size*0.6) 0 0 0 $background; 
      } 
    }
  }


  #start {

    display:block;
    float: left;
    width: 0; 
    height: 0; 
    border-top: $startsize solid transparent;
    border-bottom: $startsize solid transparent;
    border-right: ($startsize*$ratio) solid $foreground; 
    margin: 42px auto $startsize auto;
    position:relative;
    z-index:1;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time; 
    
    &:before {
      content:'';
      position:absolute;
      top:($size*-1.5);
      left:($size*-0.9);
      bottom:($size*-1.5);
      right:($size*-2.1);
      border-radius:50%;
      border: 2px solid $foreground;
      z-index:2;
      transition: all $transition-time;
      -webkit-transition: all $transition-time;
      -moz-transition: all $transition-time;
    }
    &:after {
       content: "";
       display: block;
       width: 5px;
       height: 20px;
       background: $foreground;
       margin-top: -10px;
       margin-left: -4px;
    }
    
    &:hover, &:focus {
      &:before {
         transform: scale(1.1);
         -webkit-transform: scale(1.1);
         -moz-transform: scale(1.1);
      }
    }
    
  }

  #record {

    display:block;
    width: 0; 
    float: left;
    height: 0; 
    border: ($size/2) solid $foreground;
   
    border-radius: 75%;
    margin: 50px auto 30px auto;
    position:relative;
    z-index:1;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    left:125px;
    
    &:before {
      content:'';
      position:absolute;
      top:($size*-1.5);
      left:-30px;
      bottom:($size*-1.5);
      right:-30px;
      border-radius:50%;
      border: 2px solid $foreground;
      z-index:2;
      transition: all $transition-time;
      -webkit-transition: all $transition-time;
      -moz-transition: all $transition-time;
    }
    &:after {
      content:'';
      opacity:0;
      transition: opacity ($transition-time * 2);
      -webkit-transition: opacity ($transition-time * 2);
      -moz-transition: opacity ($transition-time * 2);
    }
    
    &:hover, &:focus {
      &:before {
         transform: scale(1.1);
         -webkit-transform: scale(1.1);
         -moz-transform: scale(1.1);
      }
    }
    
    &.active {
      border-color:red;
      
    }
    
  }


  #recordinglist{
    text-align: center;
    list-style-type: none;
    padding:0;
    overflow:auto;
    li{
      overflow: auto;

    }
    a, audio{
      clear:both;
      float:left;
      text-align: center;
      width:100%;
    }
    audio{
      height:50px;
    }
    a{
       color:white;
      background:#2f5379;
      font-size: 10px;
    }

  }

  #recordListButtons{

    width:100%;
    text-align: center;

    #toggleRecordings, #clearRecordings{
      display:none;
      cursor: pointer;
      padding:5px;
      margin:5px;
      background:#2f5379;
      color:white;
      font-size: 10px;
    }
     #clearRecordings{
      color:red;
     }

  }

 

  

}